.form-user {
  max-width: 400px;
  width: 100%;
  margin: auto;
}

.form-content {
  @include flex-container(column);
  margin-bottom: 15px;

  input {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid $input-border-color;
    outline: none;
    color: #efeeed;
    transition: all 0.1s ease-in-out;

    &:disabled {
      background: $secondary-color;
      color: $input-color;
      border: none;
    }

    &.invalid {
      border-bottom: 1px solid $error-color;
    }

    &:focus {
      color: $input-color;
    }
  }

  label,
  input {
    transition: all 0.2s;
    touch-action: manipulation;
  }

  label {
    margin-bottom: 10px;
    color: $input-border-color;
    font-size: 12px;
    display: block;
  }

  .message-error {
    font-size: 10px;
    color: $error-color;
  }
}

.btn-add {
  display: flex;
  position: relative;
  background: $primary-color;
  color: $secondary-color;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 100%;
  height: 40px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  &.loading {
    pointer-events: none;
    opacity: 0.7;

    .button-name {
      position: absolute;
      display: none;
    }

    .loader {
      display: block;
    }
  }

  &:hover {
    opacity: 0.7;
  }

  &[disabled] {
    cursor: default;
    background: $disabled-color;
    color: $disabled-font-color;

    &:hover {
      opacity: 1;
    }
  }
}

.loader {
  display: none;
  font-size: 10px;
  text-indent: -9999em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $secondary-color;
  background: -moz-linear-gradient(left, $secondary-color 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, $secondary-color 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, $secondary-color 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, $secondary-color 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, $secondary-color 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: spinner 1.4s infinite linear;
  animation: spinner 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  &:before {
    width: 50%;
    height: 50%;
    background: $secondary-color;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
  }

  &:after {
    background: $primary-color;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
